<h1 class="about">About me</h1>
<p>Hi! My names Amy and I'm a coder in training! My dream is to create kill bots to take over the world.. but I guess I can settle on being a frontend dev so I can try to make the internets look all pretty! Although backend is pretty awesome So maybe full stack is the way forward!</p>
<%= image_tag("amy") %>
<P>
<%= link_to 'My Twitter', 'https://twitter.com/amyadreena' %>
  </P>
